/* Color Variables */
:root {
    --bg_color: #ffffff;
    --body_color: var(--bg_color);
    --outline_color: #000000;

    --link_new: #B4CFB0;
    --link_old: #94B49F;
    --link_hover: #789395;
}

/* Main sections */

body {
    color:var(--dark_grey);
    font-family: 'Ubuntu', sans-serif;

    background-color:var(--bg_color); 
    min-height: 100vh;
    margin-bottom: 0;
    max-width: 1000px;
    margin: auto;
}

.main {
    background-color: var(--body_color);
    /* border-style: solid; */
    /* border-width: 2px; */
    /* border-color: var(--outline_color); */
    min-height: 100vh;
    padding: 0px 10px;
}

.title {
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-align:center;
    font-size: 2.2rem;
    /* padding-top: 3.125rem; */
    /* padding-bottom: 3.125rem; */
    /* padding: 50px; */
}

.banner {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.post {
    font-size:15pt;
    width: 100%;
    padding-left: 20px;
}

.post-meta {
    text-align: left;
    font-size: 10pt;
    color: #696864;
    margin-bottom: 1em;
    padding-left: 20px;
}

/* Link coloring */

a:link {
    color:var(--link_new);
}

a:visited {
    color:var(--link_old);
}

a:hover {
    color: var(--link_hover);
}

p {
    border: 1px;
    color:var(--dark_grey);
}

/* Headers */

h1 {
    text-align: left;
    color:var(--dark_grey);
}

h2 {
    text-align: left;
    /* color: #3083c1; */
    color:var(--dark_grey);
}

h3 {
    text-align: left;
    color: var(--dark_grey);
    background: black;
    font-size: 25px;
    padding: 0px;
    line-height: 0;
}

h4 {
    text-align: left;
    color: var(--light_grey);
    font-size: 15;
}

hr {
    color: var(--outline_color);
    max-width: 1000px;
    margin-left:-10px;
    margin-right: -10px;
}

/* Lists */

ul {
    padding-top: 10px;
    padding-bottom: 10px;
    left: 0;
    overflow-x: hidden;
}

span {
    /* width: 100px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 6px;
    padding-left: 6px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color:var(--magenta);
    /* display: block; */
}

.sidebar hr{
    border:1px solid var(--bg_color);
}

.sidebar #blogs {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #696864;
    display: block;
}

.sidebar a:hover {
    color: var(--light_magenta);
}

img.title_icon_left{
    float: left;
}
img.title_icon_right{
    float: right;
    transform: scaleX(-1);
}

img.profile{
    float: right;
    /* border: solid; */
    margin: 30px;
    border-color: var(--outline_color);
    border-width : 1px;
    /* border-radius: 2%; */
}

/* Code formatting */

.sourceCode {
    text-align: center;
}

.sourceCode pre {
    display: inline-block;
    background: #f0f8fc;

    border-style: solid;
    border-width: 1px;
    border-color: blue;
    border-radius: 3px;

    page-break-inside: avoid;
    font-family: monospace;
    padding: 1em;
    white-space: pre-wrap;
    overflow-wrap: break-word;

    width: 100ch;
    text-align: left;
}

/* Shrink the code box when the screen is smaller than the body */
@media screen and (max-width: 1000px){
    .sourceCode pre {
        display: inline-block;
        background: #f0f8fc;
    
        border-style: solid;
        border-width: 1px;
        border-color: blue;
        border-radius: 3px;
    
        page-break-inside: avoid;
        font-family: monospace;
        padding: 1em;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    
        width: 80%;
        text-align: left;
    }
}

.sourceCode span{
    color: black;
}

/* Python specific coloring */
.python .co,
.python .st {
    color: green
}

.python .dv {
    color: blue;
}
  
.python .kw {
color: blue;
}

.python .cf {
color: mediumvioletred; 
}

.wide {max-width: inherit;}
