body {
    color: #a6b0b8;
    background: #1f282f;
    margin-bottom: 200px;
}

.btn {
    background-color:#283641;
    border: none;
    color: white;
    padding: 7px 10px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #48dae8;
}

a:link {
    color: #3083c1;
}

a:visited {
    color: #3b7099;
}

a:hover {
    color: #48dae8;
}

p {
    border: 1px;
    padding: 1em;
    background: #283641; 
    border-color: darkgrey;
}

h1 {
    text-align: center;
    color: #50c8f9;
}

header h1 {
    font-size: 40px;
}

h2 {
    text-align: left;
    color: #3083c1;
}

header h2 {
    text-align: center;
    font-size: 30px;
    color: lightgrey;
}

#aboutme {
    text-align: left;
    font-size: 23px;
    background: #283541;
    padding: 0.3em;
    border: 1px;
    border-style: solid;
    border-color: #3b7099;
    border-radius: 12px;
}

#blog-meta {
    text-align:left;
    font-size: 15px;
    color: white;
}

h3 {
    text-align: left;
    color: white;
    font-size: 25px;
    background: #283641;
    padding: 0.5em;
}

code {
/*    color: #30ad30;*/
    color: #33c285;
    text-align: left;
    border-radius: 5px;
}

pre {
    background: #191e22;
    border: 1px solid #4ba27a;
    border-radius: 5px;
    page-break-inside: avoid;
    font-family: monospace;
    padding: 1em;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    max-width: 600px;
    margin: left;
}

.wide {max-width: inherit;}
